streamlit
streamlit-aggrid
streamlit_option_menu
streamlit-feedback
streamlit-tags
streamlit-modal
streamlit_javascript
streamlit-chat
streamlit_ace
st-pages
click
np_utils
matplotlib
pandas
keras
tensorflow
graphviz
xgboost
catboost
vecstack
numpy

plotly
scikit-learn
lightgbm
openpyxl
joblib
# plotly==5.10.0
# scikit-learn==1.2.2
# lightgbm==4.4.0
# openpyxl==3.1.5
# joblib==1.4.2


#For OpenAI
openai
duckduckgo-search
anthropic
trubrics
chromadb
langchain
langchain-community
langchain-core
langchain-openai
langchain_experimental
tiktoken
sentence-transformers
tf-keras
ollama

#“unstructured[md,pdf,pptx]”
unstructured-client
unstructured
unstructured-inference
unstructured.pytesseract
urllib3
python-dotenv
panel
ipython
python-pptx
pdf2image
pdfminer
opencv-python
reportlab
fpdf2

pikepdf
pypdf
nicegui
pymupdf

transformers
einops
bitsandbytes
accelerate
pdfminer.six
bs4
sentence_transformers
duckdb
beautifulsoup4
sentencepiece
six
requests
uvicorn
torch
torchvision
tabulate
chromadb