/ollama-webui/cache
/ollama-webui/uploads
/ollama-webui/vector_db
/ollama/ollama-webui/cache
/ollama/ollama
/files/work/.ipynb_checkpoints
/files/work/.jupyter
/files/work/.cache
/files/work/.ipython
/files/work/.local
/files/work/templates/.ipynb_checkpoints
/app-flask/__pycache__
ollama/ollama-webui/audit.log
ollama/ollama-webui/webui.db
.DS_Store
/work/.ipynb_checkpoints
/work/.local
/work/.ipython
/work/.jupyter
/work/templates/.ipynb_checkpoints
work/.gitkeep
/work/.cache
.DS_Store
.DS_Store
files/.DS_Store
app-streamlit/.DS_Store
/app-streamlit/files/backup
/app-streamlit/files/pdf
